body{
	 background: url("../images/backcart.jpg"); 
	 background-size: 100px 50px;
	  margin:auto;
	    padding-left: 10%;
	      padding-right: 10%;
}

img {
	
	height: 200px;
	width: 200px;
	vertical-align: top;
	
	 margin: 30px 30px 30px 30px;
	 padding-right: 5px;
	  padding-left: 5px;
}

div{
	position:relative;
	height: 300px;
	width: 570px;
	
	 padding-right: 10px;
	  
	  float: left;
}

#desc{
	position: relative;
	left:-65px;
	font-size:30px;
	bottom: -25px; 
}
#firstDesc{
	position: relative;
	font-size:30px;
	left:-65px;
	bottom: -25px;

}
#price{
	position: relative;
	bottom: -55px;         
    left: -3px; 
    font-size:30px;
}

#cart{
	position: absolute;
	
	display: block;
  top: 8px;
  right: 16px;
  height: 50px;
	width: 50px;
  
}