body{
	 background: url("../images/backcart.jpg"); 
	 background-size: 100px 50px;
	  margin:auto;
	   margin-left:10%;
	   margin-left:10%;
	   
	   
}

img {
	
	height: 200px;
	width: 200px;
	vertical-align: top;
	
	 margin: 30px 30px 30px 30px;
	 padding-right: 5px;
	  padding-left: 5px;
}

div{
	position:relative;
	height: 400px;
	width: 600px;
	
	 padding-right: 10px;
	  
	  float: left;
}

#desc{
	position: relative;
	left:-65px;
	font-size:30px;
	bottom: -25px; 
}
#firstDesc{
	position: relative;
	font-size:30px;
	left:-70px;
	bottom: -25px;

}
#addcart{
	position: relative;
	font-size:30px;
	left:265px;
	bottom: 165px;
	
}
#logout{
		position:relative;
	
	
  top: 8px;

right: 16px;

font-size: 18px;
}
#price{
	position: relative;
	bottom: -60px;         
    left: -3px; 
    font-size:30px;
}

#cart{
	position: absolute;
	
	display: block;
  top: 8px;
  right: -30px;
  height: 50px;
	width: 50px;
  
}
