body{
	 background: url("../images/backcart.jpg"); 
	 background-size: 100px 50px;
	  
	   margin-left:10%;
	   margin-right:10%;
}
table{
  width:200;
  margin-top:10%;
	   margin-right:10%;
	   font-size:30px;
}

#addprofile{
	position: relative;
	right:100px;
	font-size:30px;
}
